In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel("Dataset.xlsx")

In [3]:
print(df.head())
print(df.dtypes)
print(df.shape)

   Date  high_1  high_2  high_3  high_Output  low_1  low_2  low_3  low_Output
0     1    32.0    32.0    32.0         31.0   10.0   11.0   10.0        10.0
1     2    32.0    32.0    31.0         31.0   11.0   10.0   10.0        11.0
2     3    32.0    31.0    31.0         30.0   10.0   10.0   11.0        11.0
3     4    31.0    31.0    30.0         30.0   10.0   11.0   11.0        14.0
4     5    31.0    30.0    30.0         31.0   11.0   11.0   14.0        12.0
Date             int64
high_1         float64
high_2         float64
high_3         float64
high_Output    float64
low_1          float64
low_2          float64
low_3          float64
low_Output     float64
dtype: object
(2225, 9)

In [4]:
print(df.describe())

              Date       high_1       high_2       high_3  high_Output  \
count  2225.000000  2222.000000  2222.000000  2222.000000  2222.000000
mean     16.037303    32.105311    32.108461    32.111611    32.115212
std       8.604936     3.996360     3.999035     4.001706     4.005203
min       1.000000    20.000000    20.000000    20.000000    20.000000
25%       9.000000    29.000000    29.000000    29.000000    29.000000
50%      16.000000    31.000000    31.000000    31.000000    31.000000
75%      23.000000    35.000000    35.000000    35.000000    35.000000
max      31.000000    43.000000    43.000000    43.000000    43.000000

             low_1        low_2        low_3   low_Output
count  2222.000000  2222.000000  2222.000000  2222.000000
mean     18.415842    18.418542    18.420342    18.423042
std       4.440500     4.437203     4.435003     4.431699
min       5.000000     5.000000     5.000000     5.000000
25%      15.000000    15.000000    15.000000    15.000000
50%      20.000000    20.000000    20.000000    20.000000
75%      22.000000    22.000000    22.000000    22.000000
max      26.000000    26.000000    26.000000    26.000000

In [5]:
print(df.isnull().sum())

Date           0
high_1         3
high_2         3
high_3         3
high_Output    3
low_1          3
low_2          3
low_3          3
low_Output     3
dtype: int64

In [6]:
df = df.dropna()

In [7]:
df.isnull().sum()

Date           0
high_1         0
high_2         0
high_3         0
high_Output    0
low_1          0
low_2          0
low_3          0
low_Output     0
dtype: int64

In [17]:
df.to_csv('Train.csv')